mixin footer()
    footer#contacts
        .footer__top
            h2 Contacts
            span Want to know more or just chat? <br>You are welcome!
            a(href="#") Send message
        .footer__bottom
            .social
                a(href="#")
                    img(src="assets/img/icon/linkedin.svg", alt="")
                a(href="https://www.instagram.com/danchik1402/?igshid=1kw0hv4cshudj")
                    img(src="assets/img/icon/instagram.svg", alt="")
                a(href="https://t.me/k1ng1402")
                    img(src="assets/img/icon/telegram.svg", alt="")
                a(href="https://vk.com/id18781464")
                    img(src="assets/img/icon/vk.svg", alt="")
                a(href="https://github.com/Daniil1402")
                    img(src="assets/img/icon/github.svg", alt="")
            span Like me on<br> LinkedIn, Instagram, Telegram, VK, GitHub