extends layout

block content
    header.header(style="background-image: url(./assets/img/aboutbg.png);")
        .container
            .headerTop.mb-300
                .headerTop__logo
                    a(href="index.html") GRADERS
                .headerTop__nav
                    nav#headerNav
                        a(href="poster.html") АФИША
                        a(href="blog.html") БЛОГ
                        a(href="gallery-list.html") ФОТО
                        a(href="video.html") ВИДЕО
                        a(href="merch.html") МЕРЧ
                        a(href="about.html") О НАС
                    button(type="button" id="menu")
                        img(src="assets/img/hamburger-menu.png", class="hamburger-menu", alt="menu")
                        img(src="assets/img/close-menu.png", class="close-menu", alt="menu")
                .headerTop__contacts
                    .headerTop__social
                        a(href="https://www.instagram.com/_graders_")
                            img(src="assets/img/instagram.png", alt="instagram")
                        a(href="https://vk.com/graders_band")
                            img(src="assets/img/vk.png", alt="vkontakte")
                        a(href="https://www.youtube.com/channel/UCoLkkYyPvv1I2k5fNXfnRfQ")
                            img(src="assets/img/youtube.png", alt="youtube")
                    button(type="button" id="button")
                        img(src="assets/img/share.png", alt="")
                        img(src="assets/img/angle.png", alt="" class="img__btn")
            .headerMiddle.mb-600.color-white.ml-75
                p(style="opacity: 100%;") О НАС
    .container
        .about
            .about__btn
                a(href="structure.html") СОСТАВ ГРУППЫ
                a(href="contacts.html") КОНТАКТЫ
            p.about__title Привет! Ты попал на сайт молодой, но очень амбициозной группы из северной столицы!
            p.about__text Graders - это группа друзей, каждый из которых приносит свой взгляд на мир и музыку.
            p.about__text Это разнообразие стилей: от ритмичного фанка, под который начнет зажигать даже самый угрюмый ботан, до блюза и хард-рока с мелодичными гитарными солягами!
            .about__img
                img(src="assets/img/about1.png", alt="")
            p.about__text Впервые мы собрались в 2015 году на базе Политехнического университета, и за это время успели вырасти из обычного студенческого коллектива в перспективную самобытную команду со своими ценностями и взглядами!
            p.about__text За 5 лет мы сыграли на лучших площадках Санкт-Петербурга: Aurora Concert Hall, A2, MOD Club, UPiter, Hard Rock Cafe и др. В 2019 году стали победителями международного фестиваля живой музыки “ROCK-Иммунитет”, чем заслужили право выступить на “Алых Парусах - 2019”.
            .about__img
                img(src="assets/img/about2.png", alt="")
            p.about__text Но несмотря на полученный опыт, мы уверены, что лучшее еще впереди, поэтому оставайся на связи, чтобы ничего не пропустить!