extends layout

block content
    header.header(style="background-image: url(./assets/img/aboutbg.png);")
        .container
            .headerTop.mb-300
                .headerTop__logo
                    a(href="index.html") GRADERS
                .headerTop__nav
                    nav#headerNav
                        a(href="poster.html") АФИША
                        a(href="blog.html") БЛОГ
                        a(href="gallery-list.html") ФОТО
                        a(href="video.html") ВИДЕО
                        a(href="merch.html") МЕРЧ
                        a(href="about.html") О НАС
                    button(type="button" id="menu")
                        img(src="assets/img/hamburger-menu.png", class="hamburger-menu", alt="menu")
                        img(src="assets/img/close-menu.png", class="close-menu", alt="menu")
                .headerTop__contacts
                    .headerTop__social
                        a(href="https://www.instagram.com/_graders_")
                            img(src="assets/img/instagram.png", alt="instagram")
                        a(href="https://vk.com/graders_band")
                            img(src="assets/img/vk.png", alt="vkontakte")
                        a(href="https://www.youtube.com/channel/UCoLkkYyPvv1I2k5fNXfnRfQ")
                            img(src="assets/img/youtube.png", alt="youtube")
                    button(type="button" id="button")
                        img(src="assets/img/share.png", alt="")
                        img(src="assets/img/angle.png", alt="" class="img__btn")
            .headerMiddle.mb-600.color-white.ml-75
                p(style="opacity: 100%;") КОНТАКТЫ
    .container
        .contacts
            .contactsLeft
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-phone.png", alt="")
                    .contacts__link
                        a(href="tel: +79006535829") +7 (900) 653-58-29 (Артём)
                        a(href="tel: +79110853773") +7 (911) 085-37-73 (Виктор)
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-vk.png", alt="")
                    .contacts__link
                        a(href="https://vk.com/graders_band") vk.com/graders_band
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-telegram.png", alt="")
                    .contacts__link
                        a(href="https://t.me/graders_band") t.me/graders_band
            .contactsRight
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-email.png", alt="")
                    .contacts__link
                        a(href="mailto: gradersband@gmail.com") gradersband@gmail.com
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-instagram.png", alt="")
                    .contacts__link
                        a(href="https://www.instagram.com/_graders_") _graders_
                .contacts__item
                    .contacts__img
                        img(src="assets/img/contacts-tiktok.png", alt="")
                    .contacts__link
                        a(href="https://www.tiktok.com/@graders_band") graders_band
                
            