extends layout

block content
    header.header(style="background-image: url(./assets/img/gallerybg.png);")
        .container
            .headerTop.mb-300
                .headerTop__logo
                    a(href="index.html") GRADERS
                .headerTop__nav
                    nav#headerNav
                        a(href="poster.html") АФИША
                        a(href="blog.html") БЛОГ
                        a(href="gallery-list.html") ФОТО
                        a(href="video.html") ВИДЕО
                        a(href="merch.html") МЕРЧ
                        a(href="about.html") О НАС
                    button(type="button" id="menu")
                        img(src="assets/img/hamburger-menu.png", class="hamburger-menu", alt="menu")
                        img(src="assets/img/close-menu.png", class="close-menu", alt="menu")
                .headerTop__contacts
                    .headerTop__social
                        a(href="https://www.instagram.com/_graders_")
                            img(src="assets/img/instagram.png", alt="instagram")
                        a(href="https://vk.com/graders_band")
                            img(src="assets/img/vk.png", alt="vkontakte")
                        a(href="https://www.youtube.com/channel/UCoLkkYyPvv1I2k5fNXfnRfQ")
                            img(src="assets/img/youtube.png", alt="youtube")
                    button(type="button" id="button")
                        img(src="assets/img/share.png", alt="")
                        img(src="assets/img/angle.png", alt="" class="img__btn")
            .headerMiddle.mb-400
                p ВЫСТУПЛЕНИЯ
    .container.galleryPhoto
        #perfomances