.lastVideo
    .lastVideo__title
        span ПОСЛЕДНИЕ ВИДЕО
    .lastVideo__content.container
        .lastVideo__bg
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/u8-yXxnNkpk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .lastVideo__bg
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/CggIWVlX0EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    .lastVideo__btn
        a(href="video.html") ПОКАЗАТЬ ЕЩЁ
