.owl-carousel.owl-theme.owl-loaded#news__slider
    .slide
        .slide__img
            img(src="assets/img/slide1.png", alt="")
        .slide__block
            span.slide__blockTitle HARD ROCK CAFE #4
            p.slide__blockText Карантин закончился, и мы возвращаемся на сцену, чтобы радовать вас хорошей музыкой!
            a(href="article.html") ПОДРОБНЕЕ
    .slide
        .slide__img
            img(src="assets/img/slide2.png", alt="")
        .slide__block
            span.slide__blockTitle КУПИТЬ МЕРЧ
            p.slide__blockText Мы наконец-то запустили свою линейку мерча, поэтому теперь ты точно сможешь выделиться среди остальной толпы!
            a(href="#") КУПИТЬ
    .slide
        .slide__img
            img(src="assets/img/slide3.png", alt="")
        .slide__block
            span.slide__blockTitle ИНТЕРВЬЮ P.FM
            p.slide__blockText Недавно мы завалились на радио P. FM, где дали интересное и атмосферное интервью. Скорее переходи и слушай!
            a(href="#") СЛУШАТЬ
    .slide
        .slide__img
            img(src="assets/img/slide3.png", alt="")
        .slide__block
            span.slide__blockTitle ИНТЕРВЬЮ P.FM
            p.slide__blockText Недавно мы завалились на радио P. FM, где дали интересное и атмосферное интервью. Скорее переходи и слушай!
            a(href="#") СЛУШАТЬ
    .slide
        .slide__img
            img(src="assets/img/slide3.png", alt="")
        .slide__block
            span.slide__blockTitle ИНТЕРВЬЮ P.FM
            p.slide__blockText Недавно мы завалились на радио P. FM, где дали интересное и атмосферное интервью. Скорее переходи и слушай!
            a(href="#") СЛУШАТЬ