.photo
    .photo__title
        span ФОТО
    .container
        .photo__content
            .photo__item
                a(href="https://www.instagram.com/_graders_") 
                    img(src="assets/img/photo_1.png", alt="", class="photo__color") 
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
            .photo__item
                a(href="https://www.instagram.com/_graders_")   
                    img(src="assets/img/photo_2.png", alt="", class="photo__color")
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
            .photo__item
                a(href="https://www.instagram.com/_graders_") 
                    img(src="assets/img/photo_3.png", alt="", class="photo__color")
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
            .photo__item
                a(href="https://www.instagram.com/_graders_") 
                    img(src="assets/img/photo_4.png", alt="", class="photo__color")
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
            .photo__item
                a(href="https://www.instagram.com/_graders_") 
                    img(src="assets/img/photo_5.png", alt="", class="photo__color")
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
            .photo__item
                a(href="https://www.instagram.com/_graders_") 
                    img(src="assets/img/photo_6.png", alt="", class="photo__color")  
                .inst__info
                    img(src="assets/img/like.png", alt="")
                    span 14K
                    img(src="assets/img/comment.png", alt="")
                    span 3.2K
        .photo__btn
            a(href="gallery-list.html") 
                span ПОКАЗАТЬ ЕЩЁ