.single
    .singleBlock
        .singleContent
            .singleContent__left
                .vinyl
                    img(src="assets/img/vinyl.png", alt="")
                .cover
                    img(src="assets/img/cover.png", alt="")
            .singleContent__right
                span LITTLE ROAD
                p CЛУШАТЬ СИНГЛ:
                .singleSocial
                    a(href="https://open.spotify.com/artist/4rcCIRQnbC9gSZoTQztVFO")
                        img(src="assets/img/spotify_green.png", alt="")
                    a(href="https://www.deezer.com/ru/artist/12427152")
                        img(src="assets/img/deezer_green.png", alt="")
                    a(href="https://music.youtube.com/channel/UCB3W0MHpaybrU4clihmbi3Q")
                        img(src="assets/img/youtube_green.png", alt="")
                    a(href="https://vk.com/artist/graders")
                        img(src="assets/img/vk_green.png", alt="")
                    a(href="https://play.google.com/store/music/artist?id=A4yuovxp3xme27hmix5e4ckux64")
                        img(src="assets/img/google-play_green.png", alt="")
