mixin portfolio()
    .portfolio#portfolio
        h2 Portfolio
        .portfolioItem
            a(href="#")
                img(src="./assets/img/Graders.png", alt="")
            a(href="#").portfolioItem__tittle 
                span Musical group - Graders
        .portfolioItem
            a(href="#")
                img(src="./assets/img/Proffsyrup.png", alt="")
            a(href="#").portfolioItem__tittle 
                span Syrup store - Proffsyrup
        .portfolioItem
            a(href="#")
                img(src="./assets/img/Philips.png", alt="")
            a(href="#").portfolioItem__tittle 
                span Coffee machine service - Philips