<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProffSyrup</title>
    <link rel="stylesheet" href="assets/css/style.css"/>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="header__left"><a href="#"><img src="assets/img/logo.png" alt=""/></a>
          <div class="info"><a href="tel:+74952115411">+7 (495) 211-54-11</a><a href="mailto:zakaz@proffsyrup.ru">zakaz@proffsyrup.ru</a></div>
        </div>
        <div class="header__right">
          <nav><a href="#">ГЛАВНАЯ</a><a href="#">О НАС</a><a href="#">КАТАЛОГ</a><a href="#">РЕЦЕПТЫ</a><a href="#">БЛОГ</a></nav>
        </div>
      </header>
      <div class="title">
        <div class="title__top"><img src="assets/img/line1.png" alt=""/></div>
        <div class="title__middle">
          <h1>ProffSyrup</h1>
          <p>ВАШ ПРОВОДНИК В МИР ВКУСА!</p>
        </div>
        <div class="title__bottom"><img src="assets/img/line2.png" alt=""/></div>
      </div>
      <div class="assortment">
        <div class="assortment__item"><a href="#">
            <div><img src="assets/img/syrups.png" alt=""/></div>
            <div class="assortment__title">
              <p>Сиропы</p>
            </div></a></div>
        <div class="assortment__item"><a href="#">
            <div><img src="assets/img/toppings.png" alt=""/></div>
            <div class="assortment__title">
              <p>Топпинги</p>
            </div></a></div>
        <div class="assortment__item"><a href="#">
            <div><img src="assets/img/cordial.png" alt=""/></div>
            <div class="assortment__title">
              <p>Кордиал</p>
            </div></a></div>
        <div class="assortment__item"><a href="#">
            <div><img src="assets/img/basics.png" alt=""/></div>
            <div class="assortment__title">
              <p>Основы</p>
            </div></a></div>
        <div class="assortment__item"><a href="#">
            <div><img src="assets/img/mix.png" alt=""/></div>
            <div class="assortment__title">
              <p>Сухие смеси</p>
            </div></a></div>
      </div>
      <div class="partner">
        <div class="partner__title">
          <h2>НАДЁЖНЫЙ ПАРТНЁР ДЛЯ ПРОФЕССИОНАЛОВ</h2>
        </div>
        <div class="partner__main">
          <div class="partner__img"><img src="assets/img/partner.png" alt=""/></div>
          <div class="partner__text">
            <p><span class="bold">Сиропы и топпинги «P-S»</span> хорошо знакомы профессионалам HORECA. Эффектная этикетка, самый широкий ассортимент в России,эксклюзивные рецептуры, стабильность вкуса и абсолютная универсальность делают ProffSyrup достойной альтернативой любому известному европейскому бренду.</p>
          </div>
          <div class="partner__desc">
            <p>Более 125 вкусов сиропов для коктейлей, лимонадов и кофе, 28 видов топпингов для мороженого и десертов, натуральная смесь для горячего шоколада, а также сухие смеси для приготовления мороженого и кислородных коктейлей всегда в наличии на складе и доступны для заказа.</p>
          </div>
        </div>
      </div>
      <div class="advantages">
        <div class="advantages__top"><img src="assets/img/advantage_top.png" alt=""/></div>
        <div class="advantages__middle">
          <div class="advantages__title">
            <h2>НАШИ ПРЕИМУЩЕСТВА</h2>
          </div>
          <div class="advantages__main">
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/1.png" alt=""/>
                <p>САМЫЙ БОЛЬШОЙ АССОРТИМЕНТ В РОССИИ</p>
              </div>
              <div class="item__bottom">
                <p>130 отработанных проверенных качественных рецептур сиропов, 28 наименования топпингов.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/2.png" alt=""/>
                <p>ВСЕ ВКУСЫ ДОСТУПНЫ КРУГЛЫЙ ГОД</p>
              </div>
              <div class="item__bottom">
                <p>Больше нет необходимости искать нужные ингредиенты, достаточно заказать необходимый вкус у нас!</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/3.png" alt=""/>
                <p>СРОК ГОДНОСТИ - 2 ГОДА</p>
              </div>
              <div class="item__bottom">
                <p>Длительное хранение, натуральные ингредиенты.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/4.png" alt=""/>
                <p>СТАБИЛЬНОЕ КАЧЕСТВО</p>
              </div>
              <div class="item__bottom">
                <p>Регулярные лабораторные исследования, постоянный внутренний контроль.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/5.png" alt=""/>
                <p>ВЫСОКАЯ КОНЦЕНТРАЦИЯ САХАРА</p>
              </div>
              <div class="item__bottom">
                <p>Cредняя концентрация сахара - 750 г/л.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/6.png" alt=""/>
                <p>ВСЕ НЕОБХОДИМЫЕ РАЗРЕШИТЕЛЬНЫЕ ДОКУМЕНТЫ</p>
              </div>
              <div class="item__bottom">
                <p>Декларация соответствия EAC.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/1.png" alt=""/>
                <p>САМЫЙ БОЛЬШОЙ АССОРТИМЕНТ В РОССИИ</p>
              </div>
              <div class="item__bottom">
                <p>130 отработанных проверенных качественных рецептур сиропов, 28 наименования топпингов.</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/2.png" alt=""/>
                <p>ВСЕ ВКУСЫ ДОСТУПНЫ КРУГЛЫЙ ГОД</p>
              </div>
              <div class="item__bottom">
                <p>Больше нет необходимости искать нужные ингредиенты, достаточно заказать необходимый вкус у нас!</p>
              </div>
            </div>
            <div class="advantages__item">
              <div class="item__top"><img src="assets/img/icons/3.png" alt=""/>
                <p>СРОК ГОДНОСТИ - 2 ГОДА</p>
              </div>
              <div class="item__bottom">
                <p>Длительное хранение, натуральные ингредиенты.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="advantages__bottom"><img src="assets/img/advantage_bottom.png" alt=""/></div>
      </div>
      <div class="coop">
        <div class="coop__title">
          <h2>МЫ СОТРУДНИЧАЕМ С:</h2>
        </div>
        <div class="coop__gallery"><a href="#"><img src="assets/img/coop1.png" alt=""/></a><a href="#"><img src="assets/img/coop2.png" alt=""/></a><a href="#"><img src="assets/img/coop3.png" alt=""/></a><a href="#"><img src="assets/img/coop4.png" alt=""/></a></div>
      </div>
      <footer>
        <div class="footer__top">
          <div class="footer__title">
            <h3>ProffSyrup</h3>
          </div>
          <div class="footer__social"><a href="https://www.facebook.com/ProffSyrup/"><img src="assets/img/facebook.png" alt=""/></a><a href="https://www.instagram.com/proffsyrup/"><img src="assets/img/instagram.png" alt=""/></a><a href="mailto:zakaz@proffsyrup.ru"><img src="assets/img/mail.png" alt=""/></a></div>
        </div>
        <div class="footer__main">
          <div class="footer__middle">
            <nav>
              <h4>Карта сайта</h4><a href="#">Главная</a><a href="#">Каталог</a><a href="#">Блог</a><a href="#">Рецепты</a><a href="#">О нас</a>
            </nav>
            <div class="footer__info">
              <h4>Информация</h4>
              <p>ProffSyrup - производитель сиропов для кофе и коктейлей. Сиропы, топпинги для кофе и десертов в Москве. Сиропы купить оптом и в розницу.</p>
            </div>
          </div>
          <div class="copyright">
            <p>© 2018 - 2020 ProffSyrup.</p>
            <p class="copyright__text">Использование любых материалов с данного сайта без письменного согласования с владельцами категорически запрещено.</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>