.awesome {
  background-image: url(../img/first.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70px;
  padding-left: 45px;
  padding-bottom: 420px; }

.awesome__title {
  color: #ffffff;
  font-family: "MyriadPro-bold";
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 50px;
  max-width: 415px;
  width: 100%;
  margin-bottom: 60px; }

.awesome__menu {
  position: relative; }
  .awesome__menu ul {
    list-style: none; }
    .awesome__menu ul li {
      display: inline;
      margin-right: 40px; }
      .awesome__menu ul li a {
        color: #ffc600;
        font-family: "MyriadPro-reg";
        font-size: 18px;
        text-decoration: none; }
        .awesome__menu ul li a:hover {
          color: #ffffff;
          border-bottom: 1px solid #ffc600; }
