.partner {
  padding-top: 25px;
  padding-bottom: 40px; }

.partner__title {
  max-width: 735px;
  width: 100%;
  margin: 0 auto; }
  .partner__title h2 {
    font-family: "Chalk";
    font-size: 80px;
    text-align: center;
    color: #FFFFFF; }

.partner__main {
  display: flex;
  margin-top: 50px;
  align-items: center;
  padding-left: 15px; }
  .partner__main p {
    font-family: "Qanelas-Regular";
    font-size: 20px;
    text-align: left;
    color: #FFFFFF; }

.partner__img {
  margin-right: 45px;
  border-style: solid;
  border-image-width: 20px;
  border-image-source: url(../img/border.png);
  border-image-slice: 20;
  border-image-repeat: stretch;
  border-image-outset: 12px; }

.partner__text {
  margin-right: 20px; }

.bold {
  font-weight: 800; }
