*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #111111; }

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; }

header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: #111111; }

.header__left {
  display: flex;
  align-items: center;
  font-family: "Qanelas-Medium";
  font-size: 20px; }

.info {
  display: flex;
  flex-direction: column;
  margin-left: 20px; }
  .info a {
    text-decoration: none;
    color: #FFFFFF; }
    .info a:first-child {
      color: #C19A78; }
    .info a:hover {
      color: #443b32; }

.header__right nav a {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 40px;
  font-size: 20px;
  font-family: "Qanelas-SemiBold";
  background-image: linear-gradient(#C19A78, #C19A78);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  .header__right nav a:hover {
    background-size: 100% 2px; }
  .header__right nav a:active {
    color: #C19A78; }

.title {
  text-align: center;
  padding: 30px 0; }

.title__middle {
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 55px;
  padding-top: 25px;
  padding-bottom: 45px; }
  .title__middle h1 {
    font-family: "Kg";
    font-size: 105px;
    color: #FFFFFF;
    margin-right: 55px; }
  .title__middle p {
    font-family: "Qanelas-Medium";
    font-size: 35px;
    color: #FFFFFF;
    max-width: 300px;
    width: 100%;
    text-align: left;
    padding-top: 15px; }

.assortment {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px; }

.assortment__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 210px;
  width: 100%;
  padding: 25px 0;
  border-radius: 10px 10px;
  transition: background box-shadow .9s;
  transition-duration: .9s; }
  .assortment__item a {
    text-decoration: none; }
  .assortment__item:hover {
    background: #443B32;
    box-shadow: 0 0 5px 5px #443b32;
    transition: background box-shadow .9s;
    transition-duration: .9s;
    transform: scale(1.1); }
    .assortment__item:hover p {
      color: #ffffff;
      transition: color .9s; }

.assortment__title {
  margin-top: 30px; }
  .assortment__title p {
    font-family: "Qanelas-Medium";
    font-size: 30px;
    text-align: center;
    color: #C19A78;
    transition: color .9s; }

.partner {
  padding-top: 25px;
  padding-bottom: 40px; }

.partner__title {
  max-width: 735px;
  width: 100%;
  margin: 0 auto; }
  .partner__title h2 {
    font-family: "Chalk";
    font-size: 80px;
    text-align: center;
    color: #FFFFFF; }

.partner__main {
  display: flex;
  margin-top: 50px;
  align-items: center;
  padding-left: 15px; }
  .partner__main p {
    font-family: "Qanelas-Regular";
    font-size: 20px;
    text-align: left;
    color: #FFFFFF; }

.partner__img {
  margin-right: 45px;
  border-style: solid;
  border-image-width: 20px;
  border-image-source: url(../img/border.png);
  border-image-slice: 20;
  border-image-repeat: stretch;
  border-image-outset: 12px; }

.partner__text {
  margin-right: 20px; }

.bold {
  font-weight: 800; }

.advantages {
  padding-top: 25px;
  padding-bottom: 20px; }

.advantages__top {
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }

.advantages__title {
  margin-bottom: 40px; }
  .advantages__title h2 {
    font-family: "Chalk";
    font-size: 80px;
    text-align: center;
    color: #FFFFFF; }

.advantages__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.advantages__item {
  max-width: 315px;
  width: 100%;
  margin-bottom: 20px; }

.item__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  min-height: 75px; }
  .item__top p {
    font-family: "Qanelas-Bold";
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 20px; }

.item__bottom {
  min-height: 75px;
  align-items: center; }
  .item__bottom p {
    font-family: "Qanelas-Regular";
    font-size: 20px;
    text-align: left;
    color: #C19A78; }

.advantages__bottom {
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.coop {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px; }

.coop__title {
  margin-bottom: 40px; }
  .coop__title h2 {
    font-family: "Chalk";
    font-size: 80px;
    text-align: center;
    color: #FFFFFF; }

.coop__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

footer {
  padding-top: 30px; }
  footer h4 {
    font-family: "Qanelas-Bold";
    font-size: 25px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 25px; }

.footer__top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px; }

.footer__title {
  border-right: 3px solid #FFFFFF;
  margin-right: 45px; }
  .footer__title h3 {
    font-family: "Kg";
    font-size: 35px;
    color: #FFFFFF;
    padding-right: 45px; }

.footer__social {
  display: flex;
  align-items: center; }
  .footer__social a {
    margin-right: 45px; }

.footer__main {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 50px; }

.footer__middle {
  display: flex; }
  .footer__middle nav {
    margin-right: 90px;
    margin-bottom: 5px; }
    .footer__middle nav a {
      display: block;
      text-decoration: none;
      font-family: "Qanelas-Regular";
      font-size: 20px;
      text-align: left;
      color: #BBBBBB;
      margin-bottom: 20px; }

.footer__info {
  max-width: 300px;
  width: 100%; }
  .footer__info p {
    font-family: "Qanelas-Regular";
    font-size: 20px;
    line-height: 33px;
    color: #BBBBBB; }

.footer__bg {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; }

.copyright p {
  font-family: "Qanelas-Thin";
  font-size: 15px;
  line-height: 20px;
  color: #BBBBBB; }

.copyright__text {
  margin-top: 20px;
  max-width: 485px;
  width: 100%; }

@font-face {
  font-family: "Chalk";
  src: url("../fonts/Chalk-cyrillic-freehand/Chalk-cyrillic-freehand.eot");
  src: url("../fonts/Chalk-cyrillic-freehand/Chalk-cyrillic-freehand.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Chalk-cyrillic-freehand/Chalk-cyrillic-freehand.woff") format("woff");
  src: url("../fonts/Chalk-cyrillic-freehand/Chalk-cyrillic-freehand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Kg";
  src: url("../fonts/KG-second-chances-sketch/KG-second-chances-sketch.eot");
  src: url("../fonts/KG-second-chances-sketch/KG-second-chances-sketch.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/KG-second-chances-sketch/KG-second-chances-sketch.woff") format("woff");
  src: url("../fonts/KG-second-chances-sketch/KG-second-chances-sketch.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Qanelas-Bold";
  src: url("../fonts/Qanelas/Qanelas-Bold.eot");
  src: url("../fonts/Qanelas/Qanelas-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Qanelas/Qanelas-Bold.woff") format("woff");
  src: url("../fonts/Qanelas/Qanelas-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Qanelas-Medium";
  src: url("../fonts/Qanelas/Qanelas-Medium.eot");
  src: url("../fonts/Qanelas/Qanelas-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Qanelas/Qanelas-Medium.woff") format("woff");
  src: url("../fonts/Qanelas/Qanelas-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Qanelas-Regular";
  src: url("../fonts/Qanelas/Qanelas-Regular.eot");
  src: url("../fonts/Qanelas/Qanelas-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Qanelas/Qanelas-Regular.woff") format("woff");
  src: url("../fonts/Qanelas/Qanelas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Qanelas-SemiBold";
  src: url("../fonts/Qanelas/Qanelas-SemiBold.eot");
  src: url("../fonts/Qanelas/Qanelas-SemiBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Qanelas/Qanelas-SemiBold.woff") format("woff");
  src: url("../fonts/Qanelas/Qanelas-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Qanelas-Thin";
  src: url("../fonts/Qanelas/Qanelas-Thin.eot");
  src: url("../fonts/Qanelas/Qanelas-Thin.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Qanelas/Qanelas-Thin.woff") format("woff");
  src: url("../fonts/Qanelas/Qanelas-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
