mixin advantages()
    .advantages
        .advantages__top
            img(src="assets/img/advantage_top.png", alt="")
        .advantages__middle
            .advantages__title
                h2 НАШИ ПРЕИМУЩЕСТВА
            .advantages__main
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/1.png", alt="")
                        p САМЫЙ БОЛЬШОЙ АССОРТИМЕНТ В РОССИИ
                    .item__bottom
                        p 130 отработанных проверенных качественных рецептур сиропов, 28 наименования топпингов.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/2.png", alt="")
                        p ВСЕ ВКУСЫ ДОСТУПНЫ КРУГЛЫЙ ГОД
                    .item__bottom
                        p Больше нет необходимости искать нужные ингредиенты, достаточно заказать необходимый вкус у нас!
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/3.png", alt="")
                        p СРОК ГОДНОСТИ - 2 ГОДА
                    .item__bottom
                        p Длительное хранение, натуральные ингредиенты.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/4.png", alt="")
                        p СТАБИЛЬНОЕ КАЧЕСТВО
                    .item__bottom
                        p Регулярные лабораторные исследования, постоянный внутренний контроль.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/5.png", alt="")
                        p ВЫСОКАЯ КОНЦЕНТРАЦИЯ САХАРА
                    .item__bottom
                        p Cредняя концентрация сахара - 750 г/л.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/6.png", alt="")
                        p ВСЕ НЕОБХОДИМЫЕ РАЗРЕШИТЕЛЬНЫЕ ДОКУМЕНТЫ
                    .item__bottom
                        p Декларация соответствия EAC.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/1.png", alt="")
                        p САМЫЙ БОЛЬШОЙ АССОРТИМЕНТ В РОССИИ
                    .item__bottom
                        p 130 отработанных проверенных качественных рецептур сиропов, 28 наименования топпингов.
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/2.png", alt="")
                        p ВСЕ ВКУСЫ ДОСТУПНЫ КРУГЛЫЙ ГОД
                    .item__bottom
                        p Больше нет необходимости искать нужные ингредиенты, достаточно заказать необходимый вкус у нас!
                .advantages__item
                    .item__top
                        img(src="assets/img/icons/3.png", alt="")
                        p СРОК ГОДНОСТИ - 2 ГОДА
                    .item__bottom
                        p Длительное хранение, натуральные ингредиенты.
        .advantages__bottom
            img(src="assets/img/advantage_bottom.png", alt="")