mixin assortment()
    .assortment
        .assortment__item
            a(href="#")
                div
                    img(src="assets/img/syrups.png", alt="")
                .assortment__title
                    p Сиропы
        .assortment__item
            a(href="#")
                div
                    img(src="assets/img/toppings.png", alt="")
                .assortment__title
                    p Топпинги
        .assortment__item
            a(href="#")
                div
                    img(src="assets/img/cordial.png", alt="")
                .assortment__title
                    p Кордиал
        .assortment__item
            a(href="#")
                div
                    img(src="assets/img/basics.png", alt="")
                .assortment__title
                    p Основы
        .assortment__item
            a(href="#")
                div
                    img(src="assets/img/mix.png", alt="")
                .assortment__title
                    p Сухие смеси