mixin coop()
    .coop
        .coop__title
            h2 МЫ СОТРУДНИЧАЕМ С:
        .coop__gallery
            a(href="#")
                img(src="assets/img/coop1.png", alt="")
            a(href="#")
                img(src="assets/img/coop2.png", alt="")
            a(href="#")
                img(src="assets/img/coop3.png", alt="")
            a(href="#")
                img(src="assets/img/coop4.png", alt="")