mixin footer()
    footer
        .footer__top
            .footer__title
                h3 ProffSyrup
            .footer__social
                a(href="https://www.facebook.com/ProffSyrup/")
                    img(src="assets/img/facebook.png", alt="")
                a(href="https://www.instagram.com/proffsyrup/")
                    img(src="assets/img/instagram.png", alt="")
                a(href="mailto:zakaz@proffsyrup.ru")
                    img(src="assets/img/mail.png", alt="")
        .footer__main
            .footer__middle
                nav
                    h4 Карта сайта
                    a(href="#") Главная
                    a(href="#") Каталог
                    a(href="#") Блог
                    a(href="#") Рецепты
                    a(href="#") О нас
                .footer__info
                    h4 Информация
                    p ProffSyrup - производитель сиропов для кофе и коктейлей. Сиропы, топпинги для кофе и десертов в Москве. Сиропы купить оптом и в розницу.
            .copyright
                p © 2018 - 2020 ProffSyrup.
                p.copyright__text Использование любых материалов с данного сайта без письменного согласования с владельцами категорически запрещено.