mixin header()
    header
        .header__left
            a(href="#")
                img(src="assets/img/logo.png", alt="")
            .info
                a(href="tel:+74952115411") +7 (495) 211-54-11
                a(href="mailto:zakaz@proffsyrup.ru") zakaz@proffsyrup.ru
        .header__right
            nav
                a(href="#") ГЛАВНАЯ
                a(href="#") О НАС
                a(href="#") КАТАЛОГ
                a(href="#") РЕЦЕПТЫ
                a(href="#") БЛОГ
    