mixin partner()
    .partner
        .partner__title
            h2 НАДЁЖНЫЙ ПАРТНЁР ДЛЯ ПРОФЕССИОНАЛОВ
        .partner__main
            .partner__img
                img(src="assets/img/partner.png", alt="")
            .partner__text
                p <span class="bold">Сиропы и топпинги «P-S»</span> хорошо знакомы профессионалам HORECA. Эффектная этикетка, самый широкий ассортимент в России,эксклюзивные рецептуры, стабильность вкуса и абсолютная универсальность делают ProffSyrup достойной альтернативой любому известному европейскому бренду.
            .partner__desc
                p Более 125 вкусов сиропов для коктейлей, лимонадов и кофе, 28 видов топпингов для мороженого и десертов, натуральная смесь для горячего шоколада, а также сухие смеси для приготовления мороженого и кислородных коктейлей всегда в наличии на складе и доступны для заказа.