mixin title ()
    .title
        .title__top
                img(src="assets/img/line1.png", alt="")
        .title__middle
            h1 ProffSyrup
            p ВАШ ПРОВОДНИК В МИР ВКУСА!
        .title__bottom
                img(src="assets/img/line2.png", alt="")
