<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Graders</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    <header class="header" style="background-image: url(./assets/img/articlebg.png);">
      <div class="container">
        <div class="headerTop mb-220">
          <div class="headerTop__logo"><a href="index.html">GRADERS</a></div>
          <div class="headerTop__nav">
            <nav id="headerNav"><a href="poster.html">АФИША</a><a href="blog.html">БЛОГ</a><a href="gallery-list.html">ФОТО</a><a href="video.html">ВИДЕО</a><a href="merch.html">МЕРЧ</a><a href="about.html">О НАС</a></nav>
            <button type="button" id="menu"><img class="hamburger-menu" src="assets/img/hamburger-menu.png" alt="menu"/><img class="close-menu" src="assets/img/close-menu.png" alt="menu"/></button>
          </div>
          <div class="headerTop__contacts">
            <div class="headerTop__social"><a href="https://www.instagram.com/_graders_"><img src="assets/img/instagram.png" alt="instagram"/></a><a href="https://vk.com/graders_band"><img src="assets/img/vk.png" alt="vkontakte"/></a><a href="https://www.youtube.com/channel/UCoLkkYyPvv1I2k5fNXfnRfQ"><img src="assets/img/youtube.png" alt="youtube"/></a></div>
            <button type="button" id="button"><img src="assets/img/share.png" alt=""/><img class="img__btn" src="assets/img/angle.png" alt=""/></button>
          </div>
        </div>
        <div class="headerMiddle mb-600 color-white ml-10">
          <p style="opacity: 100%;">HARD ROCK <br> CAFE #4</p>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="article">
        <p class="article__tittle">Карантин закончился, и мы возвращаемся на сцену,<br> чтобы радовать вас хорошей музыкой!</p>
        <div class="article__img"><img src="assets/img/article1.png" alt=""/></div>
        <div class="article__info">
          <p>Будем в нашем уже любимом <span>Hard Rock Cafe</span>, и в этот раз все будет особенно зажигательно и незабываемо!</p>
          <ul>
            <li>- 21 февраля, 20:15</li>
            <li>- ул. Садовая, 62 <span>(м. Садовая/Спасская/Сенная площадь)</span></li>
            <li>- Вход СВОБОДНЫЙ</li>
          </ul>
          <p>Чтобы иметь наилучший вид на Градеров, скорее бронируй столик по телефону: <a href="tel:+78124559900">+7 (812) 455-99-00.</a></p>
        </div>
        <div class="article__btn"><a href="https://vk.com/graders_band">ОТКРЫТЬ В VK</a><a href="https://www.instagram.com/_graders_/">ОТКРЫТЬ В INSTAGRAM</a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__block">
        <hr/>
        <div class="copyright"><span>Developed by Studio StartUP</span><span>© Copyright 2020 Graders</span></div>
      </div>
    </footer>
  </body>
  <script src="assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
</html>