<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Graders</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    <header class="header" style="background-image: url(./assets/img/gallerybg.png);">
      <div class="container">
        <div class="headerTop mb-300">
          <div class="headerTop__logo"><a href="index.html">GRADERS</a></div>
          <div class="headerTop__nav">
            <nav id="headerNav"><a href="poster.html">АФИША</a><a href="blog.html">БЛОГ</a><a href="gallery-list.html">ФОТО</a><a href="video.html">ВИДЕО</a><a href="merch.html">МЕРЧ</a><a href="about.html">О НАС</a></nav>
            <button type="button" id="menu"><img class="hamburger-menu" src="assets/img/hamburger-menu.png" alt="menu"/><img class="close-menu" src="assets/img/close-menu.png" alt="menu"/></button>
          </div>
          <div class="headerTop__contacts">
            <div class="headerTop__social"><a href="https://www.instagram.com/_graders_"><img src="assets/img/instagram.png" alt="instagram"/></a><a href="https://vk.com/graders_band"><img src="assets/img/vk.png" alt="vkontakte"/></a><a href="https://www.youtube.com/channel/UCoLkkYyPvv1I2k5fNXfnRfQ"><img src="assets/img/youtube.png" alt="youtube"/></a></div>
            <button type="button" id="button"><img src="assets/img/share.png" alt=""/><img class="img__btn" src="assets/img/angle.png" alt=""/></button>
          </div>
        </div>
        <div class="headerMiddle mb-400 ml-85">
          <p>ФОТО</p>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="galleryList"><a class="galleryList__block mb50" href="performances.html"><img src="assets/img/perfomances.png" alt=""/><span>ВЫСТУПЛЕНИЯ</span></a><a class="galleryList__block" href="photosets.html"><img src="assets/img/photosets.png" alt=""/><span>ФОТОСЕТЫ</span></a></div>
    </div>
    <footer class="footer">
      <div class="footer__block">
        <hr/>
        <div class="copyright"><span>Developed by Studio StartUP</span><span>© Copyright 2020 Graders</span></div>
      </div>
    </footer>
  </body>
  <script src="assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
</html>