<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Graders</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    <footer class="footer">
      <div class="footer__block">
        <hr/>
        <div class="copyright"><span>Developed by Studio StartUP</span><span>© Copyright 2020 Graders</span></div>
      </div>
    </footer>
  </body>
  <script src="assets/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
</html>