mixin about ()
    .about#about
        h2 About me
        p Hi, I'm Daniil-frontend developer from Saint Petersburg. 
        p I have been working in this area relatively recently, but I am learning fast enough.
        p I am ready to implement great projects<br> with great people.