mixin education ()
    .education#education
        h2 Education
        .education__photo
            img(src="assets/img/Polytech.png", alt="")
        .education__text
            p In the summer of 2020, I completed a master's degree in information security at Peter the Great Saint Petersburg Polytechnic University.